$color1: rgb(136, 79, 14);
$color2: tomato;

h1{
    color: $color1;
    text-align: center;
    text-transform: uppercase;
}

.postres1 h2{
    color: $color2;
    text-align: center;
    text-transform: uppercase;
}

